//Footer
#go-top {
  position: absolute;
  right: 2rem;
  top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 111;
}
.arrow-top-wrap {
  width: size(40);
  height: size(40);
  background-image: url("../icons-all/to-top.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  animation: jump-top 1.2s ease-in-out alternate infinite;
  //img {
  //height: 1.5rem;
  //animation: jump 1.2s ease-in-out alternate infinite;
  //}
}
.to-top-text {
  color: #000000;
  font-size: size(12);
  line-height: size(16);
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}
.footer-back-img {
  position: relative;
  padding-top: size(90);
  padding-bottom: size(70);
  background-image: linear-gradient(to top, #003e3b 0%, rgba(3, 178, 184, 0) 100%);
}
.footer-back-img.contact-page {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.footer-main.contact-page {
  background-color: $green-main;
}
.footer-main {
  margin-top: 3rem;
  background-color: #9cdae7;
  background-image: url("../img/footer-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.foo-menu {
  padding-top: 1rem;
}
.foo-form-row {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.foo-title {
  color: #ffffff;
  font-size: size(20);
  font-weight: 400;
  line-height: size(22);
  text-align: right;
  margin-bottom: 0.5rem;
}
.facebook-title {
  display: flex;
  align-items: center;
  font-size: size(20);
  color: #ffffff;
  line-height: size(22);
  img {
	height: size(35);
	margin-right: 10px;
	margin-top: -15px;
  }
}
.menu-border-top {
  border-top: 1px solid #fafafc;
  padding-top: 15px;
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	position: relative;
	padding-right: 10px;
	a {
	  font-size: size(20);
	  line-height: size(22);
	  font-weight: 300;
	  margin-bottom: 10px;
	  color: #ffffff;
	}
	a:hover {
	  color: #ffffff;
	  cursor: pointer;
	  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
	  transition: all .5s;
	}
  }
  li::before {
	position: absolute;
	top: size(15);
	right: 0;
	content: '';
	width: 3px;
	height: 5px;
	display: inline-block;
	border: 3px solid transparent;
	border-right: 3px solid #fff;
  }
  .contact-list li {
	padding-right: 0;
	a {
	  display: flex;
	  align-items: center;
	}
	&:before {
	  display: none;
	}
  }
}
