.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
	opacity: 0.5;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
	opacity: 0.5;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="submit"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="submit"] {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: normal;
  background-color: $yellow-main;
  padding: 8px size(62);
  font-weight: 500;
  font-size: size(28);
  background-image: url("../icons-all/arrow-left.png");
  background-position: size(29) center;
  background-repeat: no-repeat;
  background-size: size(30);
  transition: background-position .5s;
  &:hover {
	background-position: size(9) center;
	transition: background-position .5s;
  }
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../icons-all/select-arrow.png");
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: size(25);
  color: rgba(30, 30, 30, 0.5);
}
div.wpcf7 textarea {
  height: size(230);
}
//blocks
.repeat-form-block {
  background-color: #e6f2f1;
  padding: size(60) 0;
  .form-title-big, .form-title-small {
	color: $text-one;
  }
}
.form-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-borders {
  position: relative;
  padding: size(60);
}
.bt-img {
  position: absolute;
  top: 0;
  right: 0;
}
.bb-img {
  position: absolute;
  bottom: 0;
  left: 0;
}
//.nice-select {
//  display: flex;
//  align-items: center;
//  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//  @include input-style;
//  @include input-text;
//  border: none;
//  box-sizing: border-box;
//  clear: both;
//  cursor: pointer;
//  float: unset;
//  outline: none;
//  padding-left: size(60);
//  padding-right: size(23);
//  position: relative;
//  text-align: right !important;
//  -webkit-transition: all 0.2s ease-in-out;
//  transition: all 0.2s ease-in-out;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  white-space: nowrap;
//  width: auto;
//  margin-bottom: 10px;
//}
//.nice-select:after {
//  content: "";
//  display: block;
//  border: none !important;
//  height: size(57);
//  background-image: url("../icons/select-arrow.png");
//  background-repeat: no-repeat;
//  background-size: size(22);
//  background-position: center;
//  margin-top: 0;
//  pointer-events: none;
//  position: absolute;
//  right: unset;
//  left: 7px;
//  top: 0;
//  -webkit-transform-origin: unset;
//  -ms-transform-origin: unset;
//  transform-origin: unset;
//  -webkit-transform: unset;
//  -ms-transform: unset;
//  transform: unset;
//  -webkit-transition: all 0.15s ease-in-out;
//  transition: all 0.15s ease-in-out;
//  width: size(30);
//}
//.nice-select.open:after {
//  -webkit-transform: rotate(-180deg);
//  -ms-transform: rotate(-180deg);
//  transform: rotate(-180deg);
//}
//.nice-select .list {
//  text-align: right !important;
//  background-color: #fff;
//  border-bottom-left-radius: 10px;
//  border-bottom-right-radius: 10px;
//  box-sizing: border-box;
//  margin-top: 0;
//  opacity: 0;
//  overflow: hidden;
//  padding: 0;
//  pointer-events: none;
//  position: absolute;
//  top: 98%;
//  right: 0;
//  li {
//	text-align: right;
//	&:first-child {
//	  display: none;
//	}
//  }
//}
//.nice-select:active, .nice-select.open {
//  border-radius: unset;
//  border-top-right-radius: 10px;
//  border-top-left-radius: 10px;
//  //span.current {
//  //display: none;
//  //}
//}
.gray-form {
  background-color: #f5f5f5;
  .form-borders {
	padding: 0 !important;
  }
}
.col-border-form {
  padding: size(20) size(30) 0 15px;
  &:before {
	position: absolute;
	content: '';
	display: block;
	width: size(211);
	height: size(181);
	border-right: 2px solid $yellow-main;
	border-top: 2px solid $yellow-main;
	right: 0;
	top: 0;
  }
}
