.gen-benefits-block {
  padding: size(110) 0;
}
.benefit-icon {
  height: size(80);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: size(18);
  img {
	max-height: 99%;
  }
}
.benefit-title {
  color: $text-one;
  font-size: size(24);
  line-height: size(25);
  text-align: center;
  font-weight: 400;
}
.benefits-col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: size(60);
  margin-right: 3rem;
  height: 100%;
  &:before {
	position: absolute;
	top: 0;
	right: 0;
	content: url("../img/border-top.png");
  }
  &:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: url("../img/border-bottom.png");
  }
}
.counter-wrap-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: size(50) 10%;
  background-color: $green-main;
}
.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: size(45);
}
.counter-num {
  color: #ffffff;
  font-size: size(62);
  font-weight: 700;
  margin-bottom: size(10);
}
.counter-title {
  font-size: size(24);
  color: #ffffff;
  line-height: size(24);
  font-weight: 400;
}
//Slider
.slider-base-wrap {
  background-image: url("../img/slider-back.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-text-wrap {
  position: relative;
  background-color: #ffffff;
  margin-right: calc(-3rem - 15px);
  padding: 3rem 3rem 4rem 3rem;
  &:after {
	content: '';
	display: block;
	width: 20%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-bottom: 3px solid $yellow-main;
	border-left: 3px solid $yellow-main;
	border-top: 3px solid $yellow-main;
	z-index: 9;
  }
}
.slider-img {
  width: 100%;
}
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(21);
	height: size(18);
	top: calc(100% + 1rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/slider-arrow-right.png");
	left: 3rem;
	right: unset;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/slider-arrow-left.png");
	left: 0;
  }
}
.process-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 50%;
  }
  [dir="rtl"] .slick-prev {
	left: unset;
	right: -1rem;
  }
  [dir="rtl"] .slick-next{
	left: -1rem;
  }
}
.posts-output {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 40%;
	width: size(30);
	height: size(25);
  }
}
.video-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(30);
	height: size(25);
  }
}
.slide-pad {
  padding: 0 2rem;
}
//Card post
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.post-item-image {
  width: 100%;
  background-color: #e1dfdf;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: size(28);
  &:after {
	display: block;
	content: '';
	padding-bottom: 115%;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  flex-grow: 1;
}
.post-item-title {
  color: $text-one;
  font-size: size(30);
  font-weight: 500;
  line-height: size(28);
  text-align: center;
  margin-bottom: size(10);
}
.post-col {
  margin-bottom: 2rem;
}
.post-col-base {
  .post-item-content {
	padding: 0;
  }
  .post-item-image {
	border-radius: size(20);
  }
  .post-item-title {
	color: $green-main;
	font-size: size(25);
	line-height: size(28);
  }
  .base-text {
	font-size: size(20);
	line-height: size(20);
  }
}
//Faq
@mixin faq-text {
  color: #4d4d4c;
  font-size: size(24);
  line-height: size(26);
  font-weight: 300;
}
.faq {
  margin-top: 10px;
  padding: size(40) 0;
  .card {
	border: none !important;
	&:first-child .question-header {
	  border-radius: size(20) size(20) 0 0 !important;
	  border: 1px solid #000000;
	  .question-title {
		border-radius: size(20) size(20) 0 0 !important;
	  }
	}
	&:last-child .question-header {
	  border-radius: 0 0 size(20) size(20) !important;
	  border: 1px solid #000000;
	  border-top: none !important;
	  .question-title {
		border-radius: 0 0 size(20) size(20) !important;
	  }
	}
  }
  .question-card {
	margin-bottom: 0;
	border-radius: 0;
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: right;
	font-weight: 500;
	font-size: size(24);
	line-height: size(26);
	color: $text-one;
	border-radius: 0;
	padding: size(35) size(95);
	background-color: #f5f5f5;
	background-image: url("../icons-all/faq.png");
	background-position: calc(100% - 20px) center;
	background-repeat: no-repeat;
	background-size: size(30);
  }
  .answer-body {
	background-color: #ffffff;
	padding: size(35) size(95);
	.base-output {
	  p, li {
		font-size: size(20);
		line-height: size(22);
	  }
	}
  }
}
.question-header {
  border-bottom: 1px solid #000000;
  min-height: size(90);
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.plus-icon, .minus-icon {
  width: 1rem;
  height: auto;
}
.arrow-top {
  position: absolute;
  left: 1rem;
  width: size(24);
}
.arrow-bottom {
  transform: scale(1, -1);
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
