/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1920px) {
  html{
	font-size: 24px;
  }
  .container {
	max-width: 78%;
  }
  .logo {
	img {
	  max-height: size(95);
	}
  }
  header {
	padding: size(10) 0;
  }
  #MainNav {
	ul {
	  li {
		a {
		  padding: size(10) 0;
		  font-size: size(24);
		  line-height: size(26);
		}
	  }
	}
  }
  .form-home-text {
	flex: 0 0 25%;
	max-width: 25%;
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 85%;
  }
  .home-serv-links {
	.container {
	  max-width: 75%;
	}
  }
}
@media (max-width: 1500px) {
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(24);
	background-position: size(20) center;
	background-size: size(25);
	&:hover {
	  background-position: size(6) center;
	  transition: background-position .5s;
	}
  }
  header {
	.container {
	  max-width: 95%;
	}
  }
  .benefits-col {
	padding: size(40);
	margin-right: 1rem;
  }
  .home-serv-links {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .hide-this {
	display: none;
  }
  .graph-about-col {
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .home-serv-links {
	.container {
	  max-width: 80%;
	}
  }
  .col-border-form {
	margin-bottom: 2rem;
  }
  .info-block-text {
	flex: 0 0 70%;
	max-width: 70%;
  }
  .main-tabs-line {
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	  padding: size(10) size(30);
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .tel-top {
	font-size: size(20);
	line-height: size(20);
  }
  .tel-block-wrap {
	padding: size(4) size(12);
  }
  .tel-bottom {
	font-size: size(16);
	line-height: size(16);
  }
  .benefits-col {
	padding: 15px;
	margin-right: 0;
	margin-top: 2rem;
  }
  .home-serv-links {
	flex: 0 0 70%;
	max-width: 70%;
  }
  .form-home-text {
	margin-bottom: 1.2rem;
  }
  .slider-wrap-col {
	order: -1;
	margin-bottom: 3rem;
  }
  .slider-text-wrap {
	margin-right: 0;
	padding-right: 0;
  }
  .serv-content-wrap {
	padding-left: 0;
  }
  .service-item {
	margin-top: 0;
  }
  .service-col {
	margin-bottom: 4rem !important;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .graph-about-col {
	margin-top: 3rem;
  }
  .graph-about-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .process-order {
	.graph-about-col {
	  order: -1;
	  margin-top: 0;
	  margin-bottom: 3rem;
	}
  }
  .hide-title-post {
	display: flex;
	order: -1;
  }
  .hide-normal-title {
	display: none;
  }
  .post-img-main {
	order: 1;
	margin-bottom: 2rem;
	margin-top: 0;
  }
  .post-content-col {
	order: 2;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 2rem;
  }
  header {
	.container {
	  max-width: 720px;
	}
  }
  .logo {
	margin-right: 40px;
  }
  #MainNav{
	ul{
	  margin-top: 1rem;
	  li{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		a{
		  padding: size(14) 0;
		  font-size: size(24);
		  line-height: size(26);
		  text-align: right;
		  &:after {
			display: none;
		  }
		}
	  }
	}
  }
  .home-serv-links {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .home-main {
	background-position: center;
	max-height: unset;
	.container {
	  max-width: 90%;
	}
  }
  .project-slider {
	margin-bottom: 2rem;
  }
  .faq {
	.question-title {
	  padding: size(35) size(55) size(35) size(40);
	  background-position: calc(100% - 7px) center;
	}
	.answer-body {
	  padding: size(25);
	}
  }
  .gallery-part {
	flex-wrap: wrap;
  }
  .gallery-col:first-child {
	flex: 0 0 60%;
	max-width: 60%;
  }
  .gallery-col:nth-child(2) {
	flex: 0 0 40%;
	max-width: 40%;
  }
  .gallery-col:last-child {
	flex: 0 0 100%;
	max-width: 100%;
	.gallery-item {
	  height: unset;
	  &:after {
		content: '';
		display: block;
		padding-bottom: 80%;
	  }
	}
  }
}
@media (max-width: 650px) {
  .info-block {
	flex-wrap: wrap;
	justify-content: center;
  }
  .info-block-text {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .info-block-img {
	justify-content: center;
	align-items: center;
	flex: 0 0 75%;
	max-width: 75%;
	margin-bottom: 2rem;
	order: -1;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 15px;
  }
  header {
	.container {
	  max-width: 540px;
	}
  }
  .bt-img {
	top: 10px;
	right: 10px;
  }
  .bb-img {
	bottom: 10px;
	left: 10px;
  }
  .home-col-content {
	padding: size(60) size(15);
  }
  .col-serv {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 1.2rem;
  }
  .col-serv-text {
	margin-top: 2rem;
	flex: 0 0 50%;
	max-width: 50%;
  }
  .home-serv-links {
	padding-top: size(30);
	flex: 0 0 75%;
	max-width: 75%;
  }
  .service-col {
	padding-right: 3rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  right: -14px;
	}
  }
  .process-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2.5rem);
	  width: size(45);
	  height: size(30);
	}
	[dir="rtl"] .slick-prev {
	  left: unset;
	  right: calc(50% - 2.5rem);
	}
	[dir="rtl"] .slick-next{
	  left: calc(50% - 2.5rem);
	}
  }
  .gallery-col {
	flex: 0 0 100% !important;
	max-width: 100% !important;
	.gallery-item {
	  height: unset;
	  &:after {
		content: '';
		display: block;
		padding-bottom: 80%;
	  }
	}
  }
  .gallery-content-tab {
	.nav-item {
	  border-left: none !important;
	}
  }
}







/*
::::: Custom media queries :::::
*/
@media (max-width: 500px) {
  .home-main-title {
	font-size: size(45);
	line-height: size(40);
  }
}
@media (max-width: 450px) {
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .logo {
	margin-right: 30px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
