@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "footer";
@import "forms";
@import "partials";

body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
#MainNav{
  ul{
    display: flex;
    height: 100%;
    li{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 0 size(10);
      a{
		position: relative;
		padding: size(7) 0;
		color: $text-one;
		font-size: size(20);
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(21);
		text-align: center;
		&:after {
		  content: '';
		  background-color: transparent;
		  transition: background-color .5s;
		  height: 5px;
		  width: 100%;
		  display: block;
		  position: absolute;
		  bottom: 0;
		}
		&:hover {
		  &:after {
			content: '';
			background-color: $yellow-main;
			transition: background-color .5s;
		  }
		}
      }
    }
  }
}
.bread-row {
  margin-top: -2rem;
}
.base-title {
  @include base-title;
}
.block-title {
  position: relative;
  @include base-title;
  padding-bottom: size(18);
  &:after {
	content: '';
	display: block;
	width: 90%;
	position: absolute;
	height: 8px;
	background-color: $yellow-main;
	right: 0;
	bottom: 0;
  }
}
#breadcrumbs {
  a, span {
	font-weight: 400;
	font-size: size(20);
	line-height: size(22);
	color: $text-one;
	transition: color .5s;
  }
  a:hover {
	color: $green-main;
	transition: color .5s;
  }
}
//Header styles
header {
  padding: size(10) 0;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	max-height: size(75);
  }
}
.tel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 2px solid $yellow-main;
}
.tel-top {
  background-color: $yellow-main;
  font-size: size(24);
  line-height: size(26);
}
.tel-block-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-one;
  font-weight: 500;
  padding: size(8) size(24);
}
.tel-bottom {
  font-size: size(20);
  line-height: size(20);
  transition: background-color .5s;
  &:hover {
	color: $text-one;
	background-color: $yellow-main;
	transition: background-color .5s;
  }
}
//Contact page
.contact-page-body {
  padding-top: size(40);
  background-image: url("../img/contact-back.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(60);
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(112);
  height: size(112);
  border-radius: size(23);
  border: 2px solid $yellow-main;
  background-color: #ffffff;
  margin-bottom: size(20);
  padding: size(18);
}
.contact-info, .contact-info-title {
  text-align: center;
  color: $text-two;
  font-family: $almoni;
}
.contact-info-title {
  font-size: size(27);
  line-height: size(27);
  font-weight: 700;
}
.contact-info {
  font-size: size(25);
  line-height: size(26);
  font-weight: 400;
}
.map-image {
  img {
	width: 100%;
	border-radius: size(23);
  }
}
.post-form-wrap {
  border-radius: size(23);
  border: 2px solid #25a3b1;
  background-color: $green-main;
}
.form-title-big, .form-title-small {
  color: #ffffff;
  text-align: center;
}
.form-title-big {
  font-size: size(45);
  line-height: size(47);
  font-weight: 500;
}
.form-title-small {
  font-size: size(35);
  line-height: size(37);
  font-weight: 400;
}

//Homepage
.home-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  padding-top: size(60);
  padding-bottom: 7rem;
  min-height: size(600);
}
.home-main-title {
  font-weight: 700;
  font-size: size(62);
  line-height: size(60);
  margin-bottom: size(10);
}
.mid-text {
  font-size: size(30);
  line-height: size(32);
  color: $text-one;
}
.home-small-logo {
  padding-left: size(15);
  margin-right: 0 !important;
  img {
	width: size(40);
	filter: grayscale(100%);
  }
}
.home-about {
  background-image: url("../img/home-about-back.png");
  background-position: left 6rem;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: -6rem;
}
.home-col-content {
  position: relative;
  padding: size(60);
}
.border-main {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
}
.home-serv-links {
  flex: 0 0 45%;
  max-width: 45%;
  background-color: #ffffff;
  padding-top: size(60);
  min-height: 6rem;
}
.serv-link-item {
  display: flex;
  align-items: flex-start;
  .mid-text {
	font-weight: 500;
  }
}
.serv-num {
  font-weight: 500;
  font-size: size(73);
  line-height: size(60);
  text-align: right;
  margin-left: size(40);
  color: $text-one;
}
.simple-link {
  font-size: size(24);
  color: $text-one;
  line-height: size(24);
  text-align: right;
  padding-left: size(40);
  background-image: url("../icons-all/arrow-left.png");
  background-size: size(21);
  background-position: size(15) center;
  background-repeat: no-repeat;
  transition: background-position .5s;
  &:hover {
	color: $green-main;
	background-position: 5px center;
	transition: background-position .5s;
  }
}
.block-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: size(63);
  border-radius: size(20);
  border: 1px solid $green-main;
  background-color: #ffffff;
  color: $text-two;
  padding: 5px size(54) 5px size(84);
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	background-image: none;
	transition: background-color .5s;
  }
}
.main-home-form {
  background-color: #ffffff;
  padding: size(45) 0;
  .form-title-big, .form-title-small {
	color: $text-one;
	text-align: right;
  }
}
.home-about-content {
  background-color: #f5f5f5;
  padding: size(80) 0;
}
.pt-pb {
  padding: size(90) 0;
}
.base-text {
  @include base-text;
}
.base-output {
  h1, h2 {
	@include base-title;
  }
  h3 {
	font-size: size(38);
	line-height: size(36);
  }
  h4 {
	font-size: size(34);
	line-height: size(32);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(24);
  }
  h1, h2, h3, h4, h5, h6 {
	color: #303030;
	font-weight: 500;
  }
  p, li {
	color: $text-two;
	margin-bottom: size(15);
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
  ul {
	margin: size(20) 0;
  }
}
.year-main {
  font-size: size(80);
  text-align: center;
  line-height: size(83);
  font-weight: 500;
  color: $text-one;
}
.about-link-text {
  font-size: size(22);
  font-weight: 400;
  color: $text-two;
  line-height: size(23);
}
.green-line {
  position: relative;
  z-index: 9;
  padding-bottom: size(65);
  background-color: $green-main;
}
.home-services {
  padding-top: size(85);
  .block-title {
	margin-bottom: 7rem;
  }
}
.service-item {
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  .mid-text, .about-link-text, .simple-link {
	color: #ffffff;
  }
  .simple-link {
	background-image: url("../icons-all/arrow-left-white.png");
	&:hover {
	  color: #ffffff;
	}
  }
}
.s-icon-wrap {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 7rem;
  border-radius: 10px;
  background-color: #e6f2f1;
  padding: size(40);
  margin-bottom: size(20);
  img {
	max-height: size(98);
  }
  &:before {
	content: '';
	display: block;
	width: 10rem;
	position: absolute;
	border-right: 2px solid $yellow-main;
	border-left: 2px solid $yellow-main;
	border-top: 2px solid $yellow-main;
	top: -1.5rem;
	height: 5.5rem;
  }
}
.serv-content-wrap {
  padding-left: 15%;
}
.p-block {
  padding: size(85) 0;
}
.partner-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: size(50);
}
//Project slider
.project-slider-block {
  padding: size(150) 0;
  background-image: url("../img/project-slider-back.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .block-link {
	background-image: none;
	padding: 5px size(54);
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
}
.projects-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  &:before {
	position: absolute;
	content: '';
	display: block;
	background-color: $green-main;
	width: 50%;
	height: 70%;
	right: 0;
	top: size(75);
  }
  &:after {
	position: absolute;
	content: '';
	display: block;
	width: size(214);
	height: size(237);
	border-left: 3px solid $yellow-main;
	border-bottom: 3px solid $yellow-main;
	left: 1rem;
	bottom: 0;
  }
}
.project-sl-img {
  position: relative;
  flex: 0 0 75%;
  max-width: 75%;
  border-radius: size(20);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b2b2b2;
  z-index: 9;
  &:after {
	content: '';
	display: block;
	padding-bottom: 120%;
  }
}
.posts-output {
  .block-link {
	background-image: none;
	padding: 5px size(54);
  }
}
//Page about
.graph-about-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url("../img/about-col-back.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.about-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green-main;
  cursor: pointer;
  border-radius: size(20);
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 95%;
  }
}
.video-slide {
  padding: size(18);
}
.video-item {
  background-color: #cecece;
  border-radius: size(23);
}
.about-date-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 size(19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 size(23) size(23);
  background-color: #ffffff;
}
//Process page
.step-title {
  font-size: size(24);
  line-height: size(26);
  color: $green-main;
  font-weight: 700;
}
//post and project page
.posts-output, .scheme-post-back {
  background-image: url("../img/home-about-back.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.posts-slider {
  .post-item {
	padding: size(15);
  }
}
.files-title {
  color: $text-two;
  font-weight: 500;
  font-size: size(24);
  line-height: size(26);
  margin-bottom: size(16);
}
.file-post {
  svg {
	width: size(60);
	fill: #000000;
	transition: fill .5s;
  }
  &:hover {
	svg {
	  fill: $green-main;
	  transition: fill .5s;
	}
  }
}
.hide-title-post {
  display: none;
}
//Gallery layout
.gallery-part {
  justify-content: center;
  align-items: stretch;
  display: none !important;
  &.show {
	display: flex !important;
  }
}
.home-gallery {
  .gallery-part {
	display: flex !important;
  }
}
.take-gals {
  width: auto;
  align-self: center;
  margin-top: 3rem;
}
.load-gallery {
  .gallery-part {
	display: none !important;
  }
  .gallery-part:first-child {
	display: flex !important;
  }
  .gallery-part {
	&.show {
	  display: flex !important;
	}
  }
}
.gallery-col {
  padding: 7px;
}
.gallery-col:first-child {
  flex: 0 0 45%;
  max-width: 45%;
  .gallery-item {
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 80%;
	}
  }
}
.gallery-col:nth-child(2) {
  flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .gallery-item {
	height: calc(50% - 7px);
  }
}
.gallery-col:last-child {
  flex: 0 0 35%;
  max-width: 35%;
  .gallery-item {
	height: 100%;
  }
}
.gallery-item {
  display: flex;
  position: relative;
  border-radius: size(23);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  &:hover {
	.gallery-overlay {
	  opacity: 1;
	  transition: opacity .5s;
	}
  }
}
.gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: size(23);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 132, 126, 0.76);
  font-weight: 500;
  font-size: size(62);
  text-align: center;
  color: #ffffff;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  transition: opacity .5s;
}
.gallery-output {
  display: flex;
  flex-direction: column;
}
.more-gallery {
  background-image: none;
  padding: 5px size(100);
  &.hide {
	display: none;
  }
}
//More on homepage
.info-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: size(55) 0;
  background-color: $green-main;
  background-image: url("../img/main-process-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info-block-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 35%;
  max-width: 35%;
  img {
	border-radius: size(20);
  }
}
.info-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10%;
  .block-title {
	color: #ffffff;
  }
}
.info-output {
  margin-bottom: 1rem;
  p, h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	text-align: center;
  }
}
.info-link-white {
  background-image: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 5px size(40);
  background-color: transparent;
  transition: color, background-color .5s;
  &:hover {
	color: $green-main;
	background-color: #ffffff;
	transition: color, background-color .5s;
  }
}
//Gallery page
.main-tabs-line {
  margin: size(35) auto;
  .nav-tabs {
	border: none !important;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	color: $text-one;
	font-size: size(30);
	text-align: center;
	font-weight: 400;
	background-color: #fff;
	border: 2px solid $green-main;
	border-radius: size(23);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: size(10) size(90);
	transition: color, background-color .5s;
	margin-bottom: 1rem;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: $green-main;
	font-weight: 500;
	color: #ffffff;
	transition: color, background-color .5s;
  }
}
.gallery-content-tab {
  .nav-tabs {
	border: none !important;
	margin-bottom: 2rem;
  }
  .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid $text-one !important;
	&:last-child {
	  border-left: none !important;
	}
  }
  .nav-link {
	border: none !important;
  }
  .nav-tabs .nav-link {
	border-radius: 0 !important;
	color: $text-one;
	font-size: size(30);
	line-height: size(25);
	text-align: center;
	font-weight: 400;
	transition: color .5s;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: $green-main;
	transition: color .5s;
  }
}
//Reviews block on homepage
//Reviews
.reviews {
  background-image: url("../img/reviews-back.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  position: relative;
  padding: 2rem size(10);
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: size(20);
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: size(50) 10% size(120) 10%;
  &:after, &:before {
	content: '';
	width: size(65);
	height: size(45);
	display: block;
	position: absolute;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(48);
	z-index: 10;
	background-image: url("../img/quote-top.png");
  }
  &:before {
	top: -1rem;
	right: 10%;
  }
  &:after {
	bottom: -1rem;
	left: 10%;
  }
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rev-pop-trigger {
  position: absolute;
  bottom: size(56);
  width: size(31);
  height: size(31);
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: $yellow-main;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: $almoni;
  text-align: center;
  font-weight: 700;
  font-size: size(27);
  cursor: pointer;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: color, background-color .5s;
  }
}
.review-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: size(90);
  margin-bottom: size(25);
  img {
	max-height: 100%;
  }
}
.review-name {
  color: $text-one;
  font-size: size(30);
  line-height: size(30);
  font-weight: 500;
  text-align: center;
  margin-bottom: size(17);
}
.review-prev {
  font-size: size(20);
  line-height: size(20);
  color: $text-one;
  text-align: center;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(20);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(20);
  background-color: #ffffff;
  border: 3px solid $green-main;
  align-items: flex-start;
  z-index: 999999999999;
  .block-output {
	* {
	  text-align: right;
	}
	p {
	  font-weight: 400;
	}
  }
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 999;
	cursor: pointer;
	top: -1.5rem;
	right: -1.5rem;
	width: size(31);
	height: size(31);
	background-color: $green-main;
	.fa-times {
	  color: white;
	  font-size: 1rem;
	}
  }
}
.reviews-arrows {
  padding: 0 2rem;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(35);
	height: size(30);
	top: 50%;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right.png");
	right: -2rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/arrow-left.png");
	left: -2rem;
  }
}



@import "responsive";
